<style>
	html{background:url(<%= image_path("case-01.gif") %>) repeat}
	body{font:300 15px "微軟正黑體";background:url(<%= image_path("header.png") %>) center 0 no-repeat transparent}
	footer{background:url(<%= image_path("footer-bg2.jpg") %>) top center no-repeat;}
	#container{background:url(<%= image_path("bg2.jpg") %>) 0 -50px no-repeat;}
	article ul{overflow:hidden;height:183px;width:951px;margin:0 auto 50px auto}
	article li{width:277px;height:162px;background:url(<%= image_path("case-03.jpg") %>) 0 0 no-repeat;float:left;-webkit-transition:all .5s ease;padding:20px 20px 0 20px}
	article li a{color:#d8d8d8;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;}
	article li a:hover{text-decoration:none}
	hgroup{height:106px;font-size:14px}
	.info{height:26px;font-size:12px;padding:10px 0 0 0}
	.box1{border-bottom:1px solid #FCB732}
	.box1:hover a{color:#FCB732}
	.box2{border-bottom:1px solid #F16803}
	.box2:hover a{color:#F16803}
	.box3{border-bottom:1px solid #FD4444}
	.box3:hover a{color:#FD4444}
	.box4{border-bottom:1px solid #FF8076}
	.box4:hover a{color:#FF8076}
</style>

<h2><img src="<%= image_path("h2-case.png") %>" width="253" height="81"></h2>
<article>
<% 
	counter = 0
	@casestudies.each do | casestudy | 
	caseClass = counter > 3 ? "" : "case" + (counter % 4 + 1).to_s
	boxClass = "box" + (counter % 4 + 1).to_s
%>	
	<%= "<ul>".html_safe if counter % 3 == 0 %>
		<li class="<%= caseClass %> <%= boxClass %>">
			<a href="<%= url_for( casestudy ) %>">
			<hgroup>
			<h3><%= casestudy.title %></h3>
			<h4><%= casestudy.subtitle %></h4>
			</hgroup>
			<section class="info">
			<p class="com">
				<%= casestudy.invitation %>
			</p>
			<p class="type">
				<%= casestudy.place %>
			</p>
			</section>
			</a>
		</li>
	<%= "</ul>".html_safe if counter % 3 == 2 || counter == @casestudies.length - 1 %>	
<% 
	counter += 1
	end 
%>
</article>