
<style>
article{background:url(<%= image_path("about-04.jpg") %>) 0 0 no-repeat;width:768px;height:620px;margin:0 auto;padding:0 55px;line-height:22px}
h3{font:300 35px "微軟正黑體";color:#ff9c00;text-align:center;height:85px;text-shadow:0 0 5px #000;padding:30px 0 0 0}
article table{color:#5f5f5f;margin:25px 0 65px 0}
article .p2{text-align:center}
</style>

<h2><img src="<%= image_path("h2-about.png") %>" width="246" height="74"></h2>
<article>
  <h3>細心、專業，是棋略更好的關鍵</h3>
  <p class="p1">棋略整合行銷顧問公司成立於2004年，接觸的客戶橫跨IT、電子、時尚與美容產業；因此，工作團隊中每位夥伴皆具有多年的專業素養，且擁有深厚的硬底基礎和實戰經驗。 <br>
    <br>
    除此之外，棋略更具備優秀整合行銷顧問公司所必備的要件</p>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33%" align="left" valign="top"><img src="<%= image_path("about-01.jpg") %>" width="270" height="118"></td>
      <td width="34%" align="left" valign="top"><img src="<%= image_path("about-02.jpg") %>" width="263" height="118"></td>
      <td width="33%" align="left" valign="top"><img src="<%= image_path("about-03.jpg") %>" width="205" height="118"></td>
    </tr>
    <tr>
      <td align="left" valign="top" style="padding:0 20px 0 0">以嚴謹的態度，處理好每一項細節，考量所有可能的突發狀況，準備好對應的解決方案，為客戶要求的品質把關。</td>
      <td align="left" valign="top" style="padding:0 20px 0 0">長期與跨國企業合作，服務品質有保證，是您值得信賴的夥伴。</td>
      <td align="left" valign="top" style="padding:0 20px 0 0">對客戶要求的承諾，不只說到做到，且成果超乎想像。</td>
    </tr>
  </table>
  <p class="p2">綜合以上優點，棋略將是您尋找整合行銷服務時最好的選擇；<br>
    很多事，不只棋略做得到，但只有棋略做得好。</p>
</article>