
  
<script type="text/javascript">
$(document).ready(function () {
	$(function(){
		$('#obj1').delay(1000).animate({opacity:1,left:80},750)
		$('#obj2').delay(1750).animate({width:283},1000)
		$('#obj3').delay(2750).animate({opacity:1,left:395},750)
		$('#obj4').delay(3500).animate({width:365},1000)
		$('#obj5').delay(4500).animate({opacity:1,top:254},750)
	});
});
</script>

<article>
  <section id="article-in">
  <div id="obj1" class="obj"><img src="<%= image_path("index-01.png") %>"></div>
  <div id="obj2" class="obj"><img src="<%= image_path("index-02.png") %>"></div>
  <div id="obj3" class="obj"><img src="<%= image_path("index-03.png") %>"></div>
  <div id="obj4" class="obj"><img src="<%= image_path("index-04.png") %>"></div>
  <div id="obj5" class="obj"><img src="<%= image_path("index-05.png") %>"></div>
  <div id="obj6" class="obj"><img src="<%= image_path("index-06.png") %>"></div>
  </section><!--article-in-->
</article>