<script type="text/javascript">
	
	function checkForm() {
		var is_error = false;
		var errors = "";
		
		$("input[id^=user]").each( function() {
			if ( $(this).val().length <= 0 ) {
				is_error = true;
				errors += $("label[for=" + $(this).attr('id') + "]").html() + "不得為空\n";
			}			
			
			
		} );
		
		if ( $("#passwordConfirm").val() != $("#user_password").val() ) {
				is_error = true;
				errors += "請重新檢查密碼\n";			
		}
		
		if ( is_error ) {
			alert(errors);
			return false;
		}
	}
	
</script>

<div class="main-text">
<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th width="10%"><%= f.label :name, "姓名" %></th>
	    <td width="20%"><%= f.text_field :name, :placeholder => "請輸入使用者姓名" %></td>
	    <th width="10%"><%= f.label :username, "帳號" %></th>
	    <td width="60%"><%= f.text_field :username, :placeholder => "請輸入使用者登入帳號" %></td>
	  </tr>
	</table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px">
	  <tr>
	    <th width="10%"><%= f.label :password, "密碼" %></th>
	    <td width="37%"><%= f.password_field :password, :placeholder => "請輸入密碼" %></td>
	    <th width="15%">確認密碼</th>
	    <td width="38%"><input id="passwordConfirm" type="password" placeholder="請再次輸入密碼" name="textfield" /></td>
	  </tr>
	</table>	
</div>
<div class="button"><img src="<%= image_path("add.png") %>"><%= f.submit "新增帳號", :onClick => "return checkForm();" %></div>
<% end %>