<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>後台管理系統</title>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
  
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <!--[if lt IE 9]>
  <![endif]-->
</head>

<body>
<div id="top-out">
  <div id="top">
    <h1 class="left"><%= link_to "棋略整合行銷-後台管理系統", :controller => "" %></h1>
    <div class="right">你好，<%= session[ :user ][ :username ] %><%= link_to "修改個人資料", edit_admin_user_path( session[:user][:id] ) %><%= link_to '登出' , root_url + 'logout' %></div>
  </div>
  <!--top--> 
</div>
<!--top-out-->
<div id="container">
	<%= render :partial => "menu" %>
  <!--side-->
  <div id="main" class="right">
  		<%= yield %>
  </div>
  <!--main--> 
</div>
<!--container-->
<div id="footer">		
	<p>ChessWin All Rights Reserved</p>
</div>
<!--footer-->
</body>
</html>
