<!DOCTYPE html>
<html>
<head>
  <title>  ChessWin Control Panel </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<div id="footer">		
		<p>ChessWin All Rights Reserved</p>
		<p><%= link_to '登出' + session[ :user ][ :username ], root_url + 'logout' %></p> 
	</div>

</body>
</html>
